.tabSet {
  margin: 30px auto;
  width: 100%;

  .tabItems {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto 2em;
    @include screen('mobile') {
      margin: 0 auto 0.5em;
    }

    .item {
      flex: 0 1 auto;
      font-size: 1.125em;
      height: 3.6em;
      text-align: center;
      border: none;
      margin: 0px 3px;
      box-shadow: none;
      background: #fff;
      // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 0;
      min-width: 9em;
      font-weight: bold;
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
      @include screen('mobile') {
        // font-size: 1em;
        min-width: 32.5%;
        line-height: 1.2em;
      }
      @include screen('xs_mobile') {
        // font-size: 1em;
        line-height: 1em;
      }
      cursor: pointer;

      &:focus {
        outline: 2px dashed #ff3e4d;
      }

      &:hover {
        // background: $lightColor;
        background: lighten($linkColor, 20%);
      }

      &.active {
        cursor: default;
        background-color: $primaryColor;
        color: #fff;
        position: relative;
        // &:before {
        //   content: '';
        //   border: 10px solid $primaryColor;
        //   border-color: $primaryColor transparent transparent transparent;
        //   position: absolute;
        //   left: 50%;
        //   top: 100%;
        //   margin-left: -5px;
        // }
        &:before {
          content: '';
          position: absolute;
          left: 50%;
          bottom: 100%;
          background-color: #f89d5e;
          height: 10px;
          width: 2px;
        }
        &:after {
          content: '';
          position: absolute;
          left: 50%;
          top: 0;
          background-color: #fff;
          height: 10px;
          width: 2px;
        }
      }
    }
  }

  .tabContent {
    display: none;
    position: relative;
    padding: 0;
    // box-shadow: #bbb 0 0 0 1px inset;
    // background-color: #fff;

    @include screen('xs_mobile') {
      padding: 1em;
    }
    a:focus {
      //取代原有focus
      border: 2px solid red;
      outline: none;
    }
  }
}
