.category {
  @extend %clearfix;
  text-align: left;
  margin: 1em auto;
  ul {
    @include li-reset;
    li {
      margin: 0px 8px 8px 0px;
      display: block;
      float: left;
    }
  }
  a {
    border: 1px solid #ececed;
    padding: 0.7em 1em;
    display: block;
    color: #333;
    box-sizing: border-box;
    border-radius: 0.2em;
    font-size: 1.125rem;
    font-weight: bolder;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.5s;
    position: relative;
    &:hover,
    &:focus {
      color: #fff !important;
      background-color: $secondaryColor;
      border: 1px solid $secondaryColor;
      box-shadow: none;
    }
    &.active {
      color: #fff;
      background-color: $primaryColor;
      border: 1px solid $primaryColor;
      &:before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 100%;
        background-color: #f89d5e;
        height: 12px;
        width: 2px;
      }
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        background-color: #fff;
        height: 10px;
        width: 2px;
      }
    }
    span {
      &:before {
        content: '(';
        display: inline-block;
      }
      &:after {
        content: ')';
        display: inline-block;
      }
    }
  }
}
