@mixin fontSetting($FONT-SIZE: $font-size, $WEIGHT: normal) {
  font-size: $FONT-SIZE;
  font-weight: $WEIGHT;
  color: $color-word;
}

@mixin aSetting($COLOR: $aColor, $NOLINE: none) {
  color: $COLOR;
  text-decoration: $NOLINE;
  &:hover,
  &:focus {
    color: $aHover;
    cursor: pointer;
  }
}
@mixin aSetting_nocolor($COLOR: $color-word, $NOLINE: none) {
  color: $COLOR;
  text-decoration: $NOLINE;
  &:hover,
  &:focus {
    color: $aHover;
    cursor: pointer;
    text-decoration: underline;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
body {
  @include fontSetting(1em);
  line-height: 1.5em;
  font-family: $font-family;
  -webkit-text-size-adjust: none;
}
a {
  @include aSetting();
}
// kbd
kbd {
  background: #fff;
  border-radius: 0.2em;
  color: #555;
  font-weight: bold;
  display: inline-block;
  padding: 0.1em 0.6em;
  font-size: 0.938em;
  font-family: sans-serif;
  margin-right: 0.4em;
  margin-bottom: 0.1em;
  vertical-align: middle;
  border-top: 1px solid #bbb;
  border-bottom: 3px solid #bbb;
  border-left: 2px solid #bbb;
  border-right: 2px solid #bbb;
  ~ kbd {
    margin-left: 0.4em;
  }
  kbd {
    border: none;
  }
}

// 字級
.font_size_block {
  flex: 0 0 auto;
  padding: 0;
  width: 50px;
  position: relative;
  margin-right: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  @include screen('tablet') {
    width: 40px;
    margin-right: 1em;
  }
  &:after {
    content: '';
    border: 5px solid #a5a5a5;
    border-color: #a5a5a5 transparent transparent transparent;
    position: absolute;
    right: 0;
    top: 45%;
  }
  .fontsize_btn {
    font-size: 1.125em;
    color: #222;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    border: none;
    width: 50px;
    @include screen('tablet') {
      width: 40px;
    }
  }

  .font_size_list {
    position: absolute;
    top: 30px;
    width: 50px;
    display: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
    padding: 0.5em;
    border-radius: 50px;
    @include screen('tablet') {
      width: 40px;
    }
  }
  ul {
    @include li-reset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      font-size: 1em;
      flex: 0 0 auto;
      margin: 2px 0;
      padding: 0;
      align-items: center;
      a {
        display: block;
        text-align: center;
        line-height: 32px;
        border-radius: 50%;
        background: #f1f1f1;
        width: 32px;
        height: 32px;
        color: #333;
        &:hover,
        &:focus {
          background: $aHover;
          color: #fff;
        }
        &.active {
          background: $aHover;
          color: #fff;
          &:hover,
          &:focus {
            background: $aHover;
            color: #fff;
          }
        }
        &.small {
          font-size: 0.938em;
        }
        &.large {
          font-size: 1.125em;
        }
      }
    }
  }
  @include screen('mobile') {
    display: none;
  }
}
