@charset "utf-8";
// 文章標題

// .tt{ color: #222; }
.cp {
  .pic {
    text-align: center;
    background: #fff;
    overflow: hidden;
    margin: 0;
    padding: 0.5em 0.8em 0.2em;

    &.float_left {
      width: 400px;
      height: 300px;
      float: left;
      margin: 0px 2em 1em 0;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      img {
        width: 100%;
        border: none;
        padding: 0;
        margin-bottom: 0.3em;
      }
      @include screen('xs_mobile') {
        float: none;
        max-width: 100%;
        width: auto;
        height: auto;
        margin: 0px auto;
        display: block;
        margin-bottom: 1em;
      }
    }
    &.float_right {
      width: 400px;
      height: 300px;
      float: right;
      margin: 0px 0 1em 2em;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      img {
        width: 100%;
        border: none;
        padding: 0;
        margin-bottom: 0.3em;
      }
      @include screen('xs_mobile') {
        float: none;
        max-width: 100%;
        width: auto;
        height: auto;
        margin: 0px auto;
        display: block;
        margin-bottom: 1em;
      }
    }

    img {
      float: none;
      max-width: 100%;
      margin: 0 auto 0.5em;
      display: block;
      border: 1px solid #ddd;
      padding: 1em;
    }

    figcaption {
      text-align: center;
      display: block;
      font-size: 0.938em;
    }
    @include screen('xs_mobile') {
      float: none;
      max-width: 100%;
      width: auto;
      margin: 0px auto;
      display: block;
      margin-bottom: 0.5em;
    }
  }
  table {
    background: #fff;
    margin-bottom: 0;
  }
  img {
    text-align: center;
    max-width: 100%;
    margin-bottom: 1em;
    &.float_left {
      float: left;
      margin: 0px 2em 1em 0;
      width: auto;
      max-width: 45%;
      @include screen('xs_mobile') {
        float: none;
        max-width: 100%;
        margin: 0px auto;
        margin-bottom: 1em;
      }
    }
    &.float_right {
      float: right;
      margin: 0px 0 1em 2em;
      width: auto;
      max-width: 45%;
      @include screen('xs_mobile') {
        float: none;
        max-width: 100%;
        margin: 0px auto;
        margin-bottom: 1em;
      }
    }
  }
  .iframe_v {
    overflow: hidden;
    padding-top: calc(9 / 16) * 100%;
    position: relative;
    margin: 1em 0;
    iframe {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: auto;
    }
  }

  a {
    @include aSetting;
  }
}

// 檔案下載
.file_download {
  width: 100%;
  margin: 0 auto 2em;
  @include clearfix();
  h3 {
    padding: 0.4em 0.5em;
    margin: 0.5em 0px 0.3em;
    // border-bottom: 1px solid $primaryColor;
    background: #eee;
    border-left: solid 5px $secondaryColor;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0.5em 0 0.5em 1.5em;
    border-bottom: solid 1px #eee;
    &:before {
      content: '·';
      font-size: 2em;
      font-weight: bold;
      width: 1em;
      height: 1em;
      position: absolute;
      top: 0.32em;
      left: 0.1em;
      color: #666;
    }
    .file_name {
      line-height: 1.8em;
      margin: 0.2em 0.5em 0.2em 0;
      color: #222;
      ~ span {
        flex: 0 0 auto;
        margin: 0.2em;
        font-size: 0.875em;
        line-height: 1.5em;
        vertical-align: middle;
        color: #666;
        a {
          color: #fff;
          display: inline-block;
          margin-right: 8px;
        }
      }
    }
    $fileType: doc, docx, odt, xls, xlsx, csv, ods, ppt, pptx, odp, zip, txt, mov, mp3, jpg, wmv, mp4, pdf, other;
    @each $fileType in $fileType {
      span.file_#{$fileType} {
        a {
          color: #fff;
          font-weight: bold;
          padding: 0.2em 0.8em;
          border-radius: 3px;
          &:hover,
          &:focus {
            color: #fff;
          }
        }
      }
    }
    span {
      &.file_doc,
      &.file_docx,
      &.file_odt {
        a {
          background: #275cb7;
          &:hover,
          &:focus {
            background: darken(#275cb7, 5%);
          }
        }
      }
      &.file_xls,
      &.file_xlsx,
      &.file_csv,
      &.file_ods {
        a {
          background: #387947;
          &:hover,
          &:focus {
            background: darken(#387947, 5%);
          }
        }
      }
      &.file_ppt,
      &.file_pptx,
      &.file_odp,
      &.file_pdf {
        a {
          background: #c55a3b;
          &:hover,
          &:focus {
            background: darken(#c55a3b, 5%);
          }
        }
      }
      &.file_pdf {
        a {
          background: #c00;
          &:hover,
          &:focus {
            background: darken(#c00, 5%);
          }
        }
      }
      &.file_zip {
        a {
          background: #eb712e;
          &:hover,
          &:focus {
            background: darken(#eb712e, 5%);
          }
        }
      }
      &.file_txt,
      &.file_other {
        a {
          background: #555;
          &:hover,
          &:focus {
            background: darken(#555, 5%);
          }
        }
      }
      &.file_mov {
        a {
          background: #009999;
          &:hover,
          &:focus {
            background: darken(#009999, 5%);
          }
        }
      }
      &.file_mp3,
      &.file_mp4 {
        a {
          background: #088ecc;
          &:hover,
          &:focus {
            background: darken(#088ecc, 5%);
          }
        }
      }
      &.file_jpg {
        a {
          background: #6c29a4;
          &:hover,
          &:focus {
            background: darken(#6c29a4, 5%);
          }
        }
      }
      &.file_wmv {
        a {
          background: #430a1f;
          &:hover,
          &:focus {
            background: darken(#430a1f, 5%);
          }
        }
      }
    }
  }
}

// 外部連結
.web_link {
  margin: 1.5em 0 1em;
  @extend %clearfix;
  h3 {
    padding: 0.4em 0.5em;
    margin: 0.5em 0px 0.3em;
    background: #eee;
    border-left: solid 5px $secondaryColor;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  ol,
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    position: relative;
    padding: 0.5em 0;
    border-bottom: solid 1px #eee;
    padding-left: 1.5em;
    &:before {
      content: '·';
      font-size: 2em;
      font-weight: bold;
      width: 1em;
      height: 1em;
      position: absolute;
      top: 0.35em;
      left: 0.1em;
      color: #666;
    }
    a {
      padding: 0.2em 0px;
      display: block;
      @include aSetting_nocolor;
    }
  }
}
.web_link2 {
  margin: 1.5em 0 1em;
  @extend %clearfix;
  h3 {
    padding: 0.4em 0.5em;
    margin: 0.5em 0px 1em;
    background: #eee;
    border-left: solid 5px $secondaryColor;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
// 點閱次數
.publish_info {
  line-height: 1.5em;
  list-style: none;
  padding: 0.5em 0.3em;
  margin: 0.5em 0 1.5em 0;
  display: flex;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.5);
  border: solid 1px #eee;
  @extend %clearfix;
  box-sizing: border-box;
  li {
    flex: 0 0 auto;
    margin-bottom: 0em !important;
    margin-right: 0.8em;
    // background-color: #fff;
    padding: 0 1em 0 2.2em;
    // border-radius: 50px;
    // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
    font-size: 0.938em;
    flex: 0 1 48%;
    @include screen('notebook') {
      flex: 0 1 48%;
    }
    @include screen('mobile') {
      flex: 0 1 100%;
    }

    &:before {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $importantColor;
      border: 2px solid #ddd;
      position: absolute;
      left: 1em;
      top: 0.4em;
    }
    &:only-child {
      margin-bottom: 0em;
      margin-right: 0;
    }
    // @include screen('tablet') {
    //   flex: 1 1 calc(100% / 2);
    // }
    // @include screen('mobile') {
    //   flex: 1 1 calc(100% / 1);
    // }
  }
}
// 點閱次數
.clicks_num {
  margin-bottom: 1.5em;
  display: block;
  clear: both;
  float: none;
  span {
    background-color: #fff;
    padding: 0.5em 1.5em 0.5em 3em;
    border-radius: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
    &:before {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      left: 1em;
      top: 10px;
      background-image: url('../images/icon/icon_click.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 20px;
    }
  }
}
// 頁籤tab
.tabblock {
  margin-bottom: 2em;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    li {
      flex: 1 1 auto;
      margin: 0 4px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      a {
        display: block;
        padding: 0.8em 1.5em;
        background-color: #fff;
        color: #000;
        border-radius: 10px 10px 0 0;
        text-align: center;
        font-size: 1.125em;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        position: relative;
        &:hover,
        &:focus {
          background-color: $primaryColor;
          color: #fff;
        }
        &.active {
          background-color: $primaryColor;
          color: #fff;
          &:before {
            content: '';
            border: 10px solid $primaryColor;
            border-color: $primaryColor transparent transparent transparent;
            position: absolute;
            bottom: -20px;
            left: 50%;
            margin-left: -5px;
          }
        }
      }
    }
  }
}
.cp_table {
  @include screen('xs_mobile') {
    table {
      th,
      td {
        display: block;
      }
    }
  }
}

.question_block {
  margin: 1em 0;
  .prev,
  .next {
    background-color: #fff;
    padding: 0.5em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 1em;
    transition: 0.5s;
    display: flex;
    align-items: center;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: $linkColor;
      color: #fff;
    }
    button {
      flex: 0 0 auto;
      flex-basis: 100px;
      margin-right: 1em;
    }
    span {
      flex: 1 1 auto;
    }
    @include screen('xs_mobile') {
      flex-wrap: wrap;

      button,
      span {
        flex: 1 1 auto;
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 1em;
      }
    }
  }
}
