/////////////////////////////////////////////////////////以下為demo範例///
// 首頁區塊設定
// more按鈕
a.more {
  display: block;
  width: 10em;
  text-align: center;
  height: 2.5em;
  margin: 0.5em auto 0.5em;
  line-height: 2.5;
  color: $primaryColor;
  border: 1px solid $primaryColor;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  &:after {
    content: '';
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    right: -10px;
    top: 14px;
    border-left: none;
    border-bottom: none;
    transition: 0.3s ease-out;
  }
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $primaryColor;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover,
  &:focus,
  &.active {
    color: white;
    &:before {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    &:after {
      right: 15px;
    }
  }
}

// 範例：
// .demosection {
//     [class^='col'] {
//         border: 2px solid #fff;
//         background: #dedede;
//     }
// }

// 統計
.mpStat {
  background: rgb(6, 46, 148);
  background: linear-gradient(0deg, rgba(6, 46, 148, 1) 0%, rgba(10, 98, 173, 1) 100%);
  padding-top: 109px;
  margin-top: -109px;
  @include screen('mobile') {
    padding-top: 59px;
  }
}
.mp_achievementsBlock {
  padding: 0;
  margin: 2em 2% 1em;
  position: relative;
  @include screen('mobile') {
    margin-bottom: 0;
  }
  .achievement_slider {
    .slick-list {
      padding: 0;
      margin: 0 50px;
    }
    .slick-prev,
    .slick-next {
      top: 30%;
    }
    .slick-next {
      right: 0;
      background: url(../images/slick/icon_arrow_right.png) center center no-repeat RGBA(255, 255, 255, 0);
      background-size: 30px 30px;
    }
    .slick-prev {
      left: 0;
      background: url(../images/slick/icon_arrow_left.png) center center no-repeat RGBA(255, 255, 255, 0);
      background-size: 30px 30px;
    }
  }
  .item {
    // background-color: #fff;
    display: flex !important;
    align-items: center;
    position: relative;
    padding: 1em;
    min-height: 170px;
    @include screen('xs_mobile') {
      padding: 1em 0;
    }
    // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    // border-radius: 8px;
    // @media (max-width: 600px) {
    //   display: block !important;
    //   padding: 2em;
    //   .num01 {
    //     flex: 1 1 auto;
    //     flex-basis: 100%;
    //     padding: 0;
    //     margin-bottom: 0.5em;
    //   }
    //   .info {
    //     flex: 1 1 auto;
    //     flex-basis: 100%;
    //     border-left: none !important;
    //     padding: 0;
    //     border-top: 1px solid #7f7f7f;
    //   }
    // }
    // @media (max-width: 400px) {
    //   padding: 1em;
    // }
    .num {
      flex: 0 0 auto;
      //   flex-basis: 100px;
      color: #fff;
      font-size: 2.4em;
      padding-right: 10px;
      font-weight: 400;
      //   text-align: center;
      line-height: 1.5em;
      font-family: 'Jost', sans-serif;
    }
    .staticon {
      width: 76px;
      height: 76px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .info {
      flex: 1 1 auto;
      padding: 0.8em;
      //   border-left: 1px solid #7f7f7f;
      .title {
        font-size: 1.125em;
        color: #fff;
        font-weight: bolder;
        margin: 0.1em 0;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          display: inline-block;
          font-size: 1.125em;
          position: relative;
          line-height: 1.5;
          padding-right: 1em;
          em {
            font-style: normal;
            padding: 0 0 0 0.3em;
            color: $primaryColor;
            font-weight: bolder;
          }
          &:after {
            content: '/';
            color: #b3b3b3;
            position: absolute;
            right: 0;
            top: 0;
          }
          &:last-child {
            &:after {
              display: none;
            }
          }
          a {
            display: block;
            padding: 0 1em 0 0;
            color: $primaryColor;
            &:hover {
              color: $secondaryColor;
            }
          }
        }
      }
    }
    &:before {
      content: '';
      width: 1px;
      height: 70px;
      background: rgba(255, 255, 255, 0.5);
      position: absolute;
      right: 30px;
      top: 27%;
      @include screen('mobile') {
        display: none;
      }
    }
    &:last-child {
      &:before {
        display: none;
      }
    }
  }
}
