// 說明區塊
.explain_block {
  background-color: #fff;
  padding: 2em;
  border-radius: 10px;
  color: $color-word;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 1em;
  line-height: 1.7em;
  margin: 1em 0 2em;
  overflow: hidden;
  clear: both;
  img {
    float: left;
    margin: 0 1em 1em 0;
  }
}
// np圖
.npimage {
  position: relative;
  // height: 300px;
  margin-bottom: 1em;
  @include aspect-ratio(16, 5);
  img {
    object-fit: cover;
    border-radius: 10px;
  }
}
// 條件查詢
.conditional_searchblock {
  padding: 1em 2em;
  border-radius: 5px;
  background-color: #fff;
  color: $color-word;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px;
  margin: 1em 0 3em;
  font-size: 1em;
  .title {
    font-size: 1.25em;
    margin-bottom: 0;
    font-weight: 500;
    color: $secondaryColor;
    @include screen('mobile') {
      text-align: center;
    }
  }
  .flex-form {
    .form_grp {
      border-bottom: none;
    }
  }
  .check_grp {
    .form_inline {
      label {
      }
    }
  }

  .form_col-6-6 {
    padding: 0 0 1em;
    > .form_grp {
      box-shadow: 0 0 0 1px #ededed;
      margin: 0.5em;
      padding: 1em;
      @include screen('mobile') {
        margin: 0.5em 0;
      }
    }
    .check_grp.form_inline {
      label {
        flex: 1 1 40%;
      }
    }
  }
  .int {
    color: darken($primaryColor, 10%);
    font-size: 1.125em;
    font-weight: bold;
    margin: 2em 0 1em;
  }
}
#pageSearchBtn {
  position: absolute;
  left: 2.5em;
}
.lp {
  h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
    position: relative;
    border-bottom: solid 1px #ddd;
    padding: 0.5em 0 0.5em 0.3em;
  }
  .gotopsearch {
    float: right;
    margin-top: -0.7em;
    button {
      font-size: 1rem;
      display: block;
      &.btn {
        padding: 0.5em 1em 0.5em 0.5em;
        font-weight: normal;
        border-radius: 3px;
      }
    }
  }
}
// 圖文列表
.pictext_list_block {
  margin-bottom: 2em;

  .pictext_list {
    // display: flex;

    // border-bottom: 1px solid #999;
    padding: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 1.5em;
    transition: 0.5s;
    border: 2px solid #fff;
    a {
      color: $color-word;
      display: block;
    }
    &:hover,
    &:focus {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      border: 2px solid $lightColor;
    }
    .picture {
      flex: 0 0 auto;
      flex-basis: 300px;
      width: 300px;
      background-color: #fff;
      position: relative;
      @include aspect-ratio(16, 9);
      img {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        object-fit: cover;
      }
    }
    .content {
      flex: 1 1 auto;
      padding-left: 2em;
      .title {
        color: #333;
        margin: 0 0 1em;
        font-size: 1.125em;
        font-weight: bolder;
        a {
          display: block;
        }
      }
      .course_information {
        margin: 0 0 1em;
        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
          display: flex;
          flex-wrap: wrap;
          li {
            flex: 0 0 auto;
            margin-right: 1em;
            padding: 0 0 0 1.5em;
            &.date {
              background-image: url('../images/icon/icon_calendar.svg');
              background-position: 0 5px;
              background-repeat: no-repeat;
              background-size: 15px;
            }
            &.time {
              background-image: url('../images/icon/icon_clock.svg');
              background-position: 0 5px;
              background-repeat: no-repeat;
              background-size: 15px;
            }
          }
        }
      }
      .related_instructions {
        margin: 0 0 1em;
        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
          display: flex;
          flex-wrap: wrap;
          li {
            flex: 0 0 auto;
            padding: 3px 10px;
            border: 1px solid #ccc;
            margin-right: 8px;
            font-size: 0.938em;
          }
        }
      }
    }
  }
  .doc_release {
    position: relative;
    // display: flex;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      line-height: 1.5em;
      li {
        display: flex;
        padding: 0.3em 0;
        margin-bottom: 0;
        span {
          flex: 1 1 auto;
          &.th_title {
            flex: 0 0 8em;
            font-weight: bold;
            text-align: right;
          }
        }
        .tag {
          background: #fde1cd;
          display: inline-block;
          padding: 0.4em 0.5em;
          font-style: normal;
          line-height: 1em;
          border-radius: 3px;
          margin-right: 0.5em;
        }
      }
    }
  }
}
.ingredients {
  width: 35%;
  @include screen('mobile') {
    width: auto;
  }
}

.sysint {
  padding: 2em;
  border-radius: 5px;
  background-color: #fff;
  color: $color-word;
  box-shadow: rgba(229, 229, 229, 1) 0px 5px 20px 0px;
  margin: 1em 0 3em;
  font-size: 1em;
}
.searchint {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: rgba(229, 229, 229, 1) 0px 5px 20px 0px;
  padding: 1em 3.5em;
  border-radius: 5px;
  margin: 0 2% 2em;
  p {
    font-weight: bold;
    font-size: 1.125em;
    line-height: 2em;
  }
  @include screen('mobile') {
    padding: 1em 2em;
    margin: 0 4% 2em;
  }
}
.sub_epaperBlock {
  .sub_epaper {
    a {
      background: rgba(255, 255, 255, 1) url('../images/sub_epaperbg.jpg') no-repeat right top;
      background-size: auto 100%;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 20px 0px;
      padding: 1em 3.5em;
      border-radius: 0;
      margin: 1em 2% 0;
      min-height: 218px;
      display: block;
      &:hover,
      &:focus {
        border: 2px solid $lightColor;
      }
      .h2title {
        color: darken($primaryColor, 0%);
        font-weight: bold;
        font-size: 2em;
        line-height: 120px !important;
        margin: 40px 0 0;
        position: relative;
        letter-spacing: 2px;
        padding-left: 130px;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
        &:before {
          content: '';
          width: 120px;
          height: 120px;
          position: absolute;
          top: 0;
          left: 0;
          background: url('../images/h2titlebg.png') no-repeat center center;
          background-size: 100% auto;
        }
      }
      @include screen('mobile') {
        padding: 1em 2em;
        margin: 0 4% 2em;
        .h2title {
          margin: 0;
        }
      }
      @include screen('xs_mobile') {
        .h2title {
          margin: 10px 0 0;
          font-size: 1.8em;
          line-height: 80px !important;
          padding-left: 80px;
          &:before {
            width: 80px;
            height: 80px;
          }
        }
      }
    }
  }
  .epaper_icon {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 34%;
    right: 100px;
    z-index: 9;
    li {
      flex: 0 0 80px;
      font-size: 0;
      img {
        &:hover,
        &:focus {
          background: rgba(255, 255, 255, 0.3);
          border-radius: 50%;
          box-shadow: 0 2px 0 5px rgba(255, 255, 255, 0.3);
        }
      }
    }
    @include screen('mobile') {
      top: 100px;
      right: auto;
      justify-content: center;
    }
    @include screen('xs_mobile') {
      top: 90px;
    }
  }
}
.pin {
  font-size: 0;
  width: 32px;
  height: 32px;
  background: url(../images/icon_pin.svg) no-repeat center center;
  background-size: 28px auto;
  border: none;
}
.pin2 {
  font-size: 0;
  width: 32px;
  height: 32px;
  background: url(../images/icon_pin2.svg) no-repeat center center;
  background-size: 28px auto;
  border: none;
}
.int {
  background: #f7f8fa;
  border: solid 1px #dadfe9;
  border-radius: 5px;
  margin: 1em 0;
  padding: 1em 2em;
  font-size: 1.125em;
  line-height: 1.6em;
  p {
    margin: 0;
    font-weight: bold;
  }
  .red {
    margin: 1em 0;
    color: #c00;
  }
}
.int2 {
  background: #f7f8fa;
  border: solid 1px #dadfe9;
  border-radius: 10px;
  margin: 2em 1em 1em;
  padding: 1em 2em;
  font-size: 1.125em;
  line-height: 1.6em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  p {
    margin: 1em 0;
    font-weight: bold;
  }
  .red {
    margin: 1em 0;
    color: #c00;
  }
}
.int3 {
  background: #f7f8fa;
  border: solid 1px #dadfe9;
  border-radius: 5px;
  margin: 2em 0 1em;
  padding: 1em 2em;
  font-size: 1.125em;
  line-height: 1.6em;
  display: flex;
  flex-wrap: wrap;
  @include screen('mobile') {
    display: block;
    padding: 1em;
  }
  .items1 {
    flex: 1 1 auto;
  }
  .items2 {
    flex: 0 0 50%;
    align-content: center;
    text-align: right;
    .btn {
      width: 9em;
    }
    @include screen('tablet') {
      flex: 1 1 100%;
      text-align: center;
    }
  }
  .items3 {
    flex: 0 0 50%;
    // align-content: center;
    text-align: right;
    // .btn {
    //   width: 9em;
    // }
    @include screen('tablet') {
      flex: 1 1 100%;
      text-align: center;
    }
  }
  h3 {
    margin: 0.5em 0;
    font-size: 1.45em;
  }
  ul {
    margin: 1em 0 0;
    list-style: none;
    padding: 0;
  }
}

.pagesearch {
  margin: 1.5em 0 1em;
  font-size: 1.125em;
  form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  .form_inline {
    flex-wrap: nowrap;
    label {
      white-space: nowrap;
    }
    @include screen('mobile') {
      flex-wrap: wrap;
    }
  }
  .items1 {
    flex: 0 1 40%;
    input {
      width: calc(100% - 6em);
    }
    @include screen('mobile') {
      flex: 1 1 99%;
      max-width: 100%;
      margin-bottom: 0.5em;
    }
  }
  .items2 {
    flex: 1 1 40%;
    input {
      flex: 1 1 calc(100% - 6em);
    }
    select {
      flex: 1 1 33%;
    }
    @include screen('mobile') {
      flex: 1 1 99%;
      max-width: 100%;
      margin-bottom: 0.5em;
    }
  }
  .items3 {
    flex: 0 1 50%;
    input {
      width: calc(100% - 12em);
    }
    @include screen('mobile') {
      flex: 1 1 99%;
      max-width: 100%;
      margin-bottom: 0.5em;
    }
  }

  .items6 {
    flex: 0 0 12em;
    .checkbox {
      padding: 1em 0;
    }
  }
}
.formBox {
  .form_inline {
    flex: 1 1 100%;
    input {
      flex: 1 1 calc(100% - 12em);
    }
  }
}
.fancybox__container {
  --fancybox-bg: rgba(24, 24, 27, 0.9);
}
.fancybox__content {
  max-width: 1000px !important;
  background: var(--fancybox-content-bg, rgba(255, 255, 255, 0)) !important;
  padding: 0;
}
.fancybox__content > .f-button.is-close-btn {
  opacity: 1 !important;
}
.iframepage {
  background: none;
  &:before {
    display: none;
  }
  .btn_grp {
    .btn {
      font-size: 1.25em;
      font-weight: bold;
      min-width: 8em;
      @include screen('mobile') {
        min-width: auto;
      }
    }
  }
  .singBox {
    width: 100%;
    max-width: 100%;
    img {
      width: 100%;
    }
  }
}
.btn_show {
  min-width: auto;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  padding: 0;
}
.btn-manadd {
  font-size: 1.25em;
  padding: 0.5em 1.25em 0.5em 1em;
  border-radius: 10px;
  i {
    &:before {
      width: 1.2em;
      height: 1.2em;
      margin-bottom: 0;
    }
  }
}
.btn-card {
  position: relative;
  padding-left: 3em;
  font-size: 1.25em;
  margin: 1rem;
  font-weight: bold;
  &:before {
    content: '';
    width: 32px;
    height: 32px;
    background: url('../images/icon_card.png') no-repeat center center;
    background-size: 30px auto;
    position: absolute;
    left: 1.2em;
    top: 0.4em;
  }
}
.btn-hand {
  position: relative;
  padding-left: 3em;
  font-size: 1.25em;
  margin: 1rem;
  font-weight: bold;
  &:before {
    content: '';
    width: 32px;
    height: 32px;
    background: url('../images/icon_hand.png') no-repeat center center;
    background-size: 30px auto;
    position: absolute;
    left: 1.3em;
    top: 0.4em;
  }
}
.fancybox__content > .f-button.is-close-btn {
  --f-button-border-radius: 5px;
  --f-button-color: #333;
  --f-button-hover-color: #333;
  --f-button-outline-color: #000;
  --f-button-bg: rgba(255, 255, 255, 1);
  --f-button-active-bg: rgba(255, 255, 255, 1);
  --f-button-hover-bg: rgba(255, 255, 255, 1);
  --f-button-svg-width: 36px;
  --f-button-svg-height: 36px;
  --f-button-svg-filter: none;
  position: absolute;
  // top: -38px;
  // right: 0;
  opacity: 1;
  top: 2em;
  right: 2em;
  @include screen('mobile') {
  }
}
.popupBox {
  background: #fff;
  padding: 1em 2em;
  border-radius: 10px;
  .title {
    padding-bottom: 0.5em;
    // background: $primaryColor;
    // border: none;
    // margin: 0;
    // padding: 0.5em;
    // color: #fff;
    // font-size: 1.5em;
    // text-align: center;
    // margin: 0;
    // letter-spacing: 2px;
    // border-radius: 5px;
    // &::before {
    //   display: none;
    // }
  }
  .cptable {
    // border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: none;
    padding: 0.5em 0;
    // box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    // padding: 1em;
    margin: 0;
    table {
      th {
        background: #f7f8fa;
        color: #111;
        border-bottom: solid 1px #dadfe9;
        text-align: right;
        width: 30%;
        font-weight: normal;
      }
      td {
        background: #fff;
        border-bottom: solid 1px #dadfe9;
      }
    }
  }
}
.enterBox {
  margin: 1em 0;
  padding: 1em 2em;
  font-size: 1.125em;
  background: #f7f8fa;
  border-radius: 10px;
  .form_grp {
    // border-bottom: solid 1px #dadfe9;
    padding: 0.5em;
  }
}

.checkBox {
  padding: 1em 2em 1em;
  @include screen('mobile') {
    padding: 2em 0.5em 1em;
  }
}
.messageBox {
  padding: 1em 1.5em;
  p {
    font-size: 1.25em;
    line-height: 1.6em;
  }
  .red {
    color: $color-red;
    font-weight: bold;
  }
  ul,
  ol {
    font-size: 1.25em;
  }
  @include screen('mobile') {
    padding: 1em 0.5em 1em;
  }
}
.peopleBox {
  background: #f7f8fa;
  border-radius: 10px;
  border: solid 1px #dadfe9;
  padding: 1em 2em;
  .n_title {
    font-size: 1.6em;
    font-weight: bold;
    margin: 0.5em 0;
  }
  ul {
    margin: 0;
    padding: 0;
    font-size: 1.125em;
    li {
      display: inline-block;
      margin: 0;
      padding: 0 1em 0 0;
      font-weight: bold;
      position: relative;
      &:after {
        content: '';
        width: 1px;
        height: 1em;
        background: #666;
        position: absolute;
        right: 0.3em;
        top: 0.15em;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
}
.peopleBox2 {
  .n_title {
    font-size: 1.6em;
    font-weight: bold;
    margin: 0.5em 0;
    .num {
      color: $primaryColor;
      margin-left: 0.5em;
    }
  }
  ul {
    font-weight: bold;
  }
}
.s_title {
  font-size: 1.5em;
  font-weight: bold;
  color: $primaryColor;
  margin: 1em 0;
  text-align: center;
}
.condition {
  font-size: 1.125em;

  .notmet {
    font-weight: bold;
    font-size: 1.25rem;
    color: $color-red;
    padding: 0.5em 1em;
    flex: 1 1 100%;

    img {
      width: 1em;
      height: 1em;
      vertical-align: middle;
      margin-right: 0.5em;
      margin-top: -5px;
    }
  }
  .conform {
    font-weight: bold;
    font-size: 1.25rem;
    color: $primaryColor;
    padding: 1em 1em 0.5em;
    flex: 1 1 100%;
    img {
      width: 1em;
      height: 1em;
      vertical-align: middle;
      margin-right: 0.5em;
      margin-top: -5px;
    }
  }
  .checkbox {
    background: $secondaryColor;
    color: #fff;
    padding: 0.5em 1em 0.3em 0.8em;
    border-radius: 5px;
    display: inline-block;
    min-width: 10em;
    margin: 0.3em;
    font-weight: bold;
    &.nobtn {
      background: #666;
    }

    input[type='checkbox'],
    input[type='radio'] {
      margin-top: 0.1em;
    }
    input[type='checkbox']:checked {
      background-image: url(../images/basic/icon_checked2.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 98%;
      box-shadow: #666 0 0 0 2px;
      border-radius: 2px;
    }
    input[type='checkbox']:checked,
    input[type='checkbox']:focus,
    input[type='radio']:checked,
    input[type='radio']:focus {
      border-color: #fff;
      background-color: #fff;
      outline: solid 1px #666;
    }
  }
  .sign {
    width: 300px;
    img {
      width: 100%;
    }
    @include screen('mobile') {
      width: 70%;
    }
    @include screen('xs_mobile') {
      width: 100%;
    }
  }
  .signbtn {
    margin: 1em;
    min-width: 6em;
  }
  .disabled {
    pointer-events: none;
    opacity: 0.7;
    box-shadow: none;
    cursor: not-allowed !important;
    -webkit-filter: grayscale(1);
  }
}
.numBlock {
  margin-top: 3em;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      font-size: 1.6em;
      font-weight: bold;
      margin: 0.5em;
      white-space: nowrap;
      em {
        font-family: 'Teachers', sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 2.8rem;
        color: $color-blue;
      }
    }
  }
}
.stat-8-4 {
  display: flex; //外容器設定為flex
  flex-direction: row; //左到右
  flex-wrap: wrap; //換行
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  @include screen('tablet') {
    flex-wrap: wrap; //換行
  }
  .col {
    // flex: 2 2 300px;
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 66.6666%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    align-self: stretch;
    &:nth-child(2n) {
      // flex: 1 1 300px;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 33.3333%;
    }
    @include screen('tablet') {
      // flex-grow: 0;
      // flex-shrink: 0;
      // flex-basis: 100%;
      flex: 1 1 100%;
      max-width: 100%;
      &:nth-child(2n) {
        // flex-grow: 0;
        // flex-shrink: 0;
        // flex-basis: 100%;
        flex: 1 1 100%;
        max-width: 100%;
      }
    }
  }
}
.stat-2-10 {
  display: flex; //外容器設定為flex
  flex-direction: row; //左到右
  flex-wrap: wrap; //換行
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  @include screen('mobile') {
    flex-wrap: wrap; //換行
  }
  .col {
    // flex: 2 2 300px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    align-self: flex-start;

    &:nth-child(2n) {
      // flex: 1 1 300px;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 80%;
    }
    @include screen('tablet') {
      // flex-basis: 33.33333%;
      flex: 0 0 20%;
      &:nth-child(2n) {
        // flex-basis: 66.66666%;
        flex: 1 1 auto;
      }
    }
    @include screen('mobile') {
      // flex-grow: 0;
      // flex-shrink: 0;
      // flex-basis: 100%;
      flex: 1 1 100%;
      max-width: 100%;
      &:nth-child(2n) {
        // flex-grow: 0;
        // flex-shrink: 0;
        // flex-basis: 100%;
        flex: 1 1 100%;
        max-width: 100%;
      }
    }
  }
}
.sbox {
  background: $primaryColor;
  color: #fff;
  font-weight: bold;
  flex: 1 1 auto;
  border-radius: 1em;
  text-align: center;
  padding: 0.5em;
  margin: 0.5em;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      flex: 1 1 20%;
      position: relative;
      &:first-child {
        background: url('../images/items_bg.png') no-repeat right top;
        background-size: auto 100%;
        color: $primaryColor;
        padding-right: 0.5em;
        border-top-left-radius: 10px 10px;
        border-bottom-left-radius: 10px 10px;
        &:after {
          display: none;
        }
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      &:after {
        content: '';
        width: 1px;
        height: 2em;
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
        right: 1px;
        top: 50%;
        margin-top: -1em;
      }
    }
  }
  .stitle {
    font-size: 1.125em;
    margin: 0.3em 0;
  }
  .num {
    font-size: 2.2em;
    padding: 0.3em;
    font-family: 'Teachers', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
}
.sbox2 {
  background: $color-green;
  color: #fff;
  font-weight: bold;
  flex: 1 1 auto;
  border-radius: 1em;
  text-align: center;
  padding: 0.5em;
  margin: 0.5em;
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      flex: 1 1 20%;
      position: relative;

      &:last-child {
        &:after {
          display: none;
        }
      }
      &:after {
        content: '';
        width: 1px;
        height: 2em;
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
        right: 1px;
        top: 50%;
        margin-top: -1em;
      }
    }
  }
  .stitle {
    font-size: 1.125em;
    margin: 0.3em 0;
  }
  .num {
    font-size: 2.2em;
    padding: 0.3em;
    font-family: 'Teachers', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
}

.stat-8-4 {
  .col {
    margin-bottom: 0;
  }
  .content_block {
    margin: 0 auto 0.5em 0;
    // padding: 0.5em;
    flex: 1 1 100%;
    ._head h3 {
      border-bottom: none;
      margin: 0 0.5em;
      .num {
        font-size: 2em;
        margin-left: 5px;
        color: $primaryColor;
        font-family: 'Teachers', sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
      }
    }
    ._content {
      padding-bottom: 0;
    }
  }
}
.view-work {
  background: #f7f8fa;
  border: solid 1px #dadfe9;
  padding: 2em;
  margin: 1em 0.5em 0.5em;
  ._head h3 {
    border: none;
    margin: 0;
  }
  ._content {
    padding-bottom: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.125em;
    li {
      padding: 0.3em 0;
    }
  }
}
.formbox {
  margin: 1em 2em;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  padding: 2em;

  .form_grp {
    border-bottom: solid 1px #dadfe9;
    margin-bottom: 0;
    padding: 0.5em;
  }
  @include screen('mobile') {
    margin: 1em 2%;
    padding: 1em 0.5em;
    width: 96% !important;
  }
  .table_wrapper {
    width: 100%;
  }
  .i_close:before {
    // margin-top: -0.2em;
    // margin-left: -0.22em;
  }
  .tbbtn {
    flex: 1 1 100%;
    .btn {
      padding: 0.4em 2em 0.4em 1.5em !important;
      margin: 0.3em;
    }
  }
  .btn-search {
    border-radius: 50%;
    flex: 0 0 3em;
    height: 3em;
    i {
      -webkit-filter: invert(100%);
      filter: invert(100%);
    }
  }
}
.flow {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    padding: 0 1em 50px 1em;
    position: relative;
    font-weight: bold;
    font-size: 1.125em;
    margin: 0 0 1em 0;

    &:before {
      content: '';
      width: 36px;
      height: 36px;
      background: #fff url(../images/icon_flow1.png) no-repeat center center;
      background-size: 24px auto;
      border: solid 5px #656b76;
      position: absolute;
      border-radius: 50%;
      top: 2em;
      left: 50%;
      margin-left: -18px;
      z-index: 1;
    }
    &:after {
      content: '';
      width: 100%;
      height: 5px;
      background: #656b76;
      position: absolute;
      top: 3.1em;
      left: 50%;
      z-index: 0;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    @include screen('mobile') {
      font-size: 0.938em;
      padding: 0 5px 50px 5px;
      &:before {
        content: '';
        width: 32px;
        height: 32px;
        background: #fff url(../images/icon_flow1.png) no-repeat center center;
        background-size: 20px auto;
        border: solid 4px #656b76;
        position: absolute;
        border-radius: 50%;
        top: 2em;
        left: 50%;
        margin-left: -16px;
        z-index: 1;
      }
      &:after {
        content: '';
        width: 100%;
        height: 4px;
        background: #656b76;
        position: absolute;
        top: 3em;
        left: 50%;
        z-index: 0;
      }
    }
  }
  .active {
    color: $primaryColor;
    &:before {
      content: '';
      width: 36px;
      height: 36px;
      background: $primaryColor url(../images/icon_flow2.png) no-repeat center center;
      background-size: 24px auto;
      border: solid 5px $primaryColor;
      position: absolute;
      border-radius: 50%;
      top: 2em;
      left: 50%;
      margin-left: -18px;
      z-index: 1;
    }
    &:after {
      content: '';
      width: 100%;
      height: 5px;
      background: $primaryColor;
      position: absolute;
      top: 3.1em;
      left: 50%;
      z-index: 0;
    }
    @include screen('mobile') {
      &:before {
        content: '';
        width: 32px;
        height: 32px;
        background: $primaryColor url(../images/icon_flow2.png) no-repeat center center;
        background-size: 20px auto;
        border: solid 4px $primaryColor;
        position: absolute;
        border-radius: 50%;
        top: 2em;
        left: 50%;
        margin-left: -20px;
        z-index: 1;
      }
      &:after {
        content: '';
        width: 100%;
        height: 5px;
        background: $primaryColor;
        position: absolute;
        top: 3.1em;
        left: 50%;
        z-index: 0;
      }
    }
  }
  .noact {
    color: $primaryColor;
    &:before {
      content: '';
      width: 36px;
      height: 36px;
      background: $primaryColor url(../images/icon_flow3.png) no-repeat center center;
      background-size: 22px auto;
      border: solid 5px$primaryColor;
      position: absolute;
      border-radius: 50%;
      top: 2em;
      left: 50%;
      margin-left: -18px;
      z-index: 1;
    }
    &:after {
      content: '';
      width: 100%;
      height: 5px;
      background: $primaryColor;
      position: absolute;
      top: 3.1em;
      left: 50%;
      z-index: 0;
    }
    @include screen('mobile') {
      &:before {
        content: '';
        width: 32px;
        height: 32px;
        background: $primaryColor url(../images/icon_flow3.png) no-repeat center center;
        background-size: 20px auto;
        border: solid 4px$primaryColor;
        position: absolute;
        border-radius: 50%;
        top: 2em;
        left: 50%;
        margin-left: -20px;
        z-index: 1;
      }
      &:after {
        content: '';
        width: 100%;
        height: 5px;
        background: $primaryColor;
        position: absolute;
        top: 3.1em;
        left: 50%;
        z-index: 0;
      }
    }
  }
}

.int5 {
  background: #f7f8fa;
  border: solid 1px #dadfe9;
  border-radius: 5px;
  margin: 1em 0;
  padding: 1em 2em;
  font-size: 1.125em;
  line-height: 1.6em;
  display: flex;
  flex-wrap: wrap;
  @include screen('mobile') {
    display: block;
    padding: 1em;
  }
  .items1 {
    flex: 1 1 auto;
  }
  .items2 {
    flex: 0 0 50%;
    align-content: center;
    text-align: right;
    .btn {
      width: 9em;
    }
    @include screen('tablet') {
      flex: 1 1 100%;
      text-align: center;
    }
  }
  .items3 {
    flex: 0 0 50%;
    // align-content: center;
    text-align: right;
    // .btn {
    //   width: 9em;
    // }
    @include screen('tablet') {
      flex: 1 1 100%;
      text-align: center;
    }
  }
  h3 {
    margin: 0.5em 0;
    font-size: 1.45em;
  }
  ul {
    margin: 1em 0 0;
    list-style: none;
    padding: 0;
  }
}

.subBlock {
  display: block;
  background: #f7f8fa;
  margin: 0.5em 1em;
  border: none;
  .form_content {
    display: block;
  }
  table {
    width: 100%;
    background: #fff;
  }
}
.subBlock2 {
  display: block;
}
.subBlock3 {
  flex: 1 1 100%;
  background: #f7f8fa;
  padding: 1em;
  margin: 0.5em 0;
}
.warning {
  color: $color-red;
  margin: 0.5em 0;
  img {
    width: 1.2em;
    height: auto;
    vertical-align: top;
    margin-right: 0.2em;
  }
}
.btnBlock {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  .btn {
    background: #fff;
    color: $color-green;
    border: solid 1px $color-green;
    flex: 0 1 15%;
    min-width: 12em;
    @include screen('mobile') {
      flex: 1 1 15%;
    }
    &:hover {
      background: darken(#fff, 5);
      color: darken($color-green, 5);
    }
    &:focus {
      background: darken($color-green, 0);
      color: #fff;
    }
    &.active {
      background: lighten($color-green, 0);
      color: #fff;
      cursor: pointer;
      &:hover,
      &:focus {
        background: darken($color-green, 5);
        color: #fff;
      }
    }
    &.undone {
      background: #666;
      color: #fff;
      cursor: pointer;
      border: solid 1px #666;
      &:hover,
      &:focus {
        background: darken(#666, 5);
        color: #fff;
      }
    }
  }
}
.formbox {
  margin: 2em 2em 1em;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  padding: 2em;
  font-size: 1.125em;
  div .radio_grp a {
    margin-left: 1em;
  }
  table {
    margin-bottom: 1em;
    background: #fff;
    th {
      white-space: normal;
    }
    td {
      padding: 0.3em 0.5em;
    }
    .close_btn {
      border-radius: 50%;
      border: none;
      width: 2.2em;
      height: 2.2em;
    }
    .i_close {
      filter: invert(100%) !important;

      &:before {
      }
    }
    .disabled,
    [disabled] {
      background: #aaa;
    }
  }

  .form_grp {
    border-bottom: solid 1px #dadfe9;
    margin-bottom: 0;
    padding: 0.5em;
  }
  @include screen('mobile') {
    margin: 1em 2%;
    padding: 1em 0.5em;
    width: 96% !important;
  }
  .table_wrapper {
    width: 100%;
  }
  .i_close:before {
    margin-top: -0.1em;
    margin-left: 0em;
  }
  .tbbtn {
    flex: 1 1 100%;
    .btn {
      padding: 0.4em 2em 0.4em 1.5em !important;
      margin: 0.3em;
    }
  }
  .btn-search {
    border-radius: 50%;
    flex: 0 0 3em;
    height: 3em;
    i {
      -webkit-filter: invert(100%);
      filter: invert(100%);
    }
  }
}
