* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff url(../images/body_bg.jpg) no-repeat center top;
  background-size: 100% auto;
  position: relative;
  &.noscroll {
    position: static !important;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    overflow-y: hidden !important;
    margin: 0;
    padding: 0;
  }
  &:before {
    content: '';
    width: 818px;
    height: 242px;
    background: url(../images/body_bg2.png) no-repeat left;
    background-size: 100% auto;
    position: absolute;
    top: 0;
    left: 30%;
  }
  @include screen('mobile') {
    background: #fff url(../images/body_bg.jpg) no-repeat center top;
    background-size: 100% auto;
    &:before {
      content: '';
      width: 100%;
      height: auto;
      background: url(../images/body_bg2.png) no-repeat left;
      background-size: 100% auto;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

// 最外圍預設為100%
.wrapper {
  width: 100%;
  margin: 0px auto;
  @include screen('mobile') {
    // background: #fff;
    overflow: hidden;
    overflow-y: auto;
  }
}

// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
  padding: 0;
  margin: 0 auto;
  max-width: $container-max; //請看_variable.scss
}

.main {
  position: relative;
  margin: 0 auto;
  // 可先設定一個中央區塊最大寬，限制accesskey對齊
  h2 {
    line-height: 1.375em;
  }
  &.small_size {
    font-size: 0.938em;
  }

  &.large_size {
    font-size: 1.125em;
  }
}
h2.title {
  font-size: 1.875em;
  margin: 1em 0 0.5em;
  padding-bottom: 0.3em;
  color: $primaryColor;
  position: relative;
  border-bottom: solid 4px #dddddd;
  // display: inline-block;
  // float: left;
  &:before {
    content: '';
    width: 4.2em;
    height: 4px;
    background: rgb(1, 114, 242);
    background: linear-gradient(90deg, rgba(1, 114, 242, 1) 0%, rgba(8, 142, 209, 1) 35%, rgba(14, 161, 188, 1) 60%, rgba(17, 172, 176, 1) 100%);
    position: absolute;
    bottom: -4px;
    left: 0;
    // margin-left: -1.1em;
  }
  @include screen('tablet') {
    // float: none;
    margin: 2rem 0 1em;
  }
}
.cp {
  h2.title {
    font-size: 1.875em;
    margin: 0 0 1.2rem;
    color: $primaryColor;
    // padding-bottom: 0;
    // float: left;
    // &:before {
    //   display: none;
    // }
    @include screen('tablet') {
      // float: none;
      margin: 0.5rem 0;
    }
  }
}

////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
  padding-bottom: 2em;
  min-height: 100vh;
  background: #fff;
  max-width: $container-max; //請看_variable.scss
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  margin-bottom: 2em;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  @include screen('mobile') {
    margin-top: 70px;
    box-shadow: none;
    // background-position: center top 5em;
  }

  > .container {
    @include gutter(80px); //gutter 代表左右要留白
    display: flex;
    @include screen('xs_mobile') {
      @include gutter(40px);
    }
  }
  .nodemenu_btn {
    display: none;
    position: absolute;
    left: 0em;
    top: 116px;
    z-index: 9;
    width: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    @include screen('tablet') {
      display: block;
    }
    @include screen('mobile') {
      display: block;
      top: 100px;
    }
    a {
      color: #fff;
      display: block;
      background-color: $primaryColor;
      padding: 2em 0.5em 1em;
      border-radius: 0 8px 8px 0;
      width: 2em;
      position: relative;
      &:before {
        content: '';
        border: 2px solid #fff;
        border-right: none;
        border-bottom: none;
        transform: rotate(135deg);
        position: absolute;
        top: 0.8em;
        left: 0.6em;
        width: 8px;
        height: 8px;
      }
      &.open {
        border-radius: 0 8px 0 0;
        &:before {
          left: 0.8em;
          transform: rotate(-45deg);
        }
      }
    }
  }
  .center_block {
    flex: none;
    flex-basis: 100%;
    max-width: 100%;
  }
  // .left_block {
  //   flex: none;
  //   flex-basis: 240px;
  //   max-width: 240px;
  //   margin-right: 40px;
  //   &.hidden {
  //     + .center_block {
  //       flex: none;
  //       flex-basis: 100%;
  //       max-width: 100%;
  //     }
  //   }
  //   + .center_block {
  //     flex: auto;
  //     flex-basis: calc(100% - 280px);
  //     max-width: calc(100% - 280px);
  //   }
  //   @include screen('tablet') {
  //     display: none;
  //     + .center_block {
  //       flex: none;
  //       flex-basis: 100%;
  //       max-width: 100%;
  //     }
  //   }
  // }
  .left_block {
    flex: none;
    flex-basis: 240px;
    max-width: 240px;
    margin-right: 40px;

    &.hidden {
      + .center_block {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
      }
    }

    + .center_block {
      flex: auto;
      flex-basis: calc(100% - 280px);
      max-width: calc(100% - 280px);
    }

    @include screen('tablet') {
      position: absolute;
      left: -210px;
      top: 116px;
      bottom: 0;
      width: 210px;
      transition: 0.5s;
      z-index: 10;
      &.open {
        left: 2em;
      }

      + .center_block {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
      }
    }
    @include screen('mobile') {
      top: 100px;
    }
  }
  &.small_size {
    font-size: 0.938em;
  }
  &.large_size {
    font-size: 1.125em;
  }
}

.hidden {
  display: none;
}
